{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="{% static '/portfolio/CSS/contact.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f91dab228a.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>

</head>

<body>

    <div class="big_container">
        <div class="nav">
            <a href="{% url 'portfolio:home' %}"><img id="exp" src="{% static '/portfolio/images/explorin_logo.png' %}" width=150px height=50px></a>
            <div class="tabs">
                <i id="toggler" class="fa fa-bars fa-lg" style="color:rgb(100, 130, 168)" aria-hidden="true"></i>
                <div id="nav-box">
                    <a href="{% url 'portfolio:about' %}"><div >ABOUT</div></a>
                    <a href="{% url 'portfolio:projects' %}"><div>PROJECTS</div></a>
                    <a class="current" href="{% url 'portfolio:contact' %}"><div>CONTACTS</div></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="main">

                <h1>Contact</h1>
                <p>If you want to contact me, you can reach me via:</p>

                <ul>
                    <li>Whatsapp: <span>7057648018</span></li>
                    <li>Gmail: <span>vaidehiatpadkar1@gmail.com</span></li>
                    <li>Facebook: <span>https://www.facebook.com/vaidehi.atpadkar.9</span></li>
                    <li>LinkedIn: <span>https://www.linkedin.com/in/vaidehi-atpadkar-2755771b2/</span></li>
                </ul>

            </div>

            <footer>
                    <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="https://www.facebook.com/vaidehi.atpadkar.9">
                    <i class="fab fa-facebook-square" ></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vaidehi-atpadkar-2755771b2/">
                    <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                    <i class="fas fa-envelope"></i>
                    </a>
                    <a href="#">
                    <i class="fab fa-instagram" ></i>
                    </a>
            </footer>

            <div class="design"></div>
            <div class="design2"></div>

        </div>
    </div>
    

    <script>

        $( document ).ready(function() {
        
            let display=false
            $("#toggler").on('click', function() {
        
                if(display === false){
                    display = true;
                    $("#nav-box").slideDown("slow");
        
                    $(this).removeClass("fa fa-bars");
        
                    $(this).addClass("fa fa-times");
        
                }
                else{
                    display = false;
                    $("#nav-box").slideUp("slow");
        
                    $(this).removeClass("fa fa-times");
        
                    $(this).addClass("fa fa-bars");
        
                }
        
            })
        
        })
</script>


</body>
</html>