body {
    margin:0;
    font-family: Verdana, Tahoma, sans-serif;
}

.nav {
    background-color: rgb(226, 230, 236);
    padding: 7px;
    height: 50px;   
}
.nav div.tabs #nav-box{
    display:block;
}
.nav div.tabs {
    float:right;
}
.nav div.tabs a{
    display:inline-block;
    margin: 0;
    padding:0;
    margin-top: -6px;;
}
.tabs a div{
    margin-right:-4px;
    padding:21px;
}
.tabs a:hover {
    background-color: rgb(195, 221, 219);
    color:rgb(100, 130, 168);
}
.nav div.tabs i {
    display:none;
}
.nav a{
    text-decoration:none;
    color: rgb(100, 194, 163);
}
.nav a.current {
    background-color:rgb(195, 221, 219);
    color:rgb(100, 130, 168);
}
.nav img {
    float: left;
}
div.main{
    background-color: rgb(226, 230, 236);
    padding: 180px;
    padding-top: 40px;
}
.main h1{
    margin-top:0;
    font-weight:normal;
}

#text{
    font-size: 19px;
    font-weight:normal;

}

.content {
    background-color:rgb(202, 221, 208);
}

.content div.task {
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    padding: 10px;
    border-bottom: 1px solid rgb(124, 148, 146);
}

div.task:nth-child(3) {
    background:rgb(178, 199, 191);
}
div.container:nth-child(4) {
    background:rgb(178, 199, 191);
}
div.task:nth-child(7) {
    background:rgb(178, 199, 191);
}
div.container:nth-child(8) {
    background:rgb(178, 199, 191);
}
div.task:nth-child(11) {
    background:rgb(178, 199, 191);
}
div.container:nth-child(12) {
    background:rgb(178, 199, 191);
}
div.task:nth-child(15) {
    background:rgb(178, 199, 191);
}
div.container:nth-child(16) {
    background:rgb(178, 199, 191);
}

.task a{
    float:left;
    text-decoration: none;
    margin-left: 20px;
}
.task a h3{
    margin:0;
    color: rgb(50, 69, 110);
}
.task a h3:hover {
    text-decoration: underline 2px  rgb(50, 69, 110);
}
.task div.day{
    float:right;
    margin:0;
    margin-right: 15px;
}
.task div.day p{
    margin:0;
    margin-top: 4px;
}
.content .container {
    clear:both;
    padding: 6px;
    padding-left:30px;
    padding-right:30px;
    display: flex;
    flex-direction:column;
}
.container .row {
    display:flex;
    text-align:justify;

}

p.title {
    width: 25%;
    
}
p.text {
    width: 75%;
}
span {
    font-weight: normal;
}


@media only screen and (max-width: 880px) {
    div.main{
        padding: 70px;
        padding-top: 40px;
    }
}
@media only screen and (max-width: 650px) {
    div.main{
        padding: 35px;
        padding-top: 40px;
    }
    .main h1{
        margin-top:0;
        font-weight:normal;
        font-size:26px;
    }
    
    #text{
        font-size: 17px;
    }
    .container .row {
        display:flex;
        flex-direction:column;
        text-align:justify;
        padding-top:0;
    }
    p.title {
        width: 100%;
        margin-bottom:0;
        font-size:17px;
    }
    p.text {
        width: 100%;
        margin-top:5px;
    }
    .task div.day{
        float:right;
        margin:0;
        margin-right: 15px;
    }
    .task div.day p{
        margin:0;
        margin-top: 4px;
        font-size: 14px;
    }
    .nav div.tabs{
        margin:10px;
        position:absolute;
        z-index:1;
        right:0;
        margin:10px;
        background-color:  rgb(226, 230, 236);
        
    }
    .nav div.tabs a{
        display:block;
        width:100%;
        border: 1px solid rgb(192, 209, 200);
    }
    .nav div.tabs #nav-box{
        display:none;
    }
    .nav div.tabs i{
        display:block;
        float:right;
        margin-right:10px;
        margin-top:10px;

    }
    .nav div.tabs a{
        margin-top:0px;        
    }

}
@media only screen and (max-width: 400px) {
    div.main{
        padding: 20px;
        padding-top: 40px;
    }
    .main h1{
        margin-top:0;
        font-weight:normal;
        font-size:24px;
    }
    
    #text{
        font-size: 15px;
    }
    p.title {
        width: 100%;
        margin-bottom:0;
        font-size:15px;
        
    }
    p.text {
        width: 100%;
        margin-top:5px;
        font-size:12px;

    }
    .task div.day{
        float:right;
        margin:0;
        margin-right: 15px;
    }
    .task div.day p{
        margin:0;
        margin-top: 4px;
        font-size: 15px;
    }
}
